html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,
button,
textarea,
select {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
}

:root {
	--background-color: rgb(255, 255, 255);
	--background-secondary-color: rgb(245, 245, 245);
	--foreground-color: rgb(255, 255, 255);
	--primary-text-color: rgb(0, 0, 0);
	--primary-text-color2: rgb(92, 92, 92);
	--primary-text-color3: rgb(141, 141, 141);
	--secondary-text-color: white;
	--button-color: #1494c6;
	--button-hover-color: #0881b1;
	--button-secondary-color: rgb(237, 93, 9);
	--button-secondary-color-disabled: rgb(230, 148, 101);
	--button-secondary-hover-color: rgb(209, 83, 10);
	--primary-hover-color: rgb(226, 226, 226);
	--traveloka-background: #1494c6;
	--traveloka-background-light: #a7dff5;
	--traveloka-background2: #0d7fcc;
	--input-label-color: rgb(108, 108, 108);
	--footer-color: #1c2930;
}

[data-theme="dark"] {
	--background-color: rgb(34, 34, 34);
	--background-secondary-color: rgb(22, 22, 22);
	--foreground-color: rgb(38, 38, 38);
	--primary-text-color: rgb(255, 255, 255);
	--primary-text-color2: rgb(211, 211, 211);
	--primary-text-color3: rgb(223, 223, 223);
	--secondary-text-color: white;
	--button-color: #1494c6;
	--button-hover-color: #0881b1;
	--button-secondary-color: rgb(237, 93, 9);
	--button-secondary-color-disabled: rgb(230, 148, 101);
	--button-secondary-hover-color: rgb(209, 83, 10);
	--primary-hover-color: rgb(75, 75, 75);
	--traveloka-background: #13556f;
	--traveloka-background-light: #5d7f8d;
	--traveloka-background2: #074975;
	--input-label-color: rgb(214, 214, 214);
	--footer-color: #12191d;
}

body {
	background-color: var(--background-secondary-color);
}

.App {
	font-size: 14px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	width: 100%;
}

.content {
	background-color: var(--background-secondary-color);
}

.page-center {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}

.unaithorized {
	background-color: var(--background-secondary-color);
	flex-direction: column;
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.unaithorized .login-button {
	width: 100px;
	height: 30px;
}

.unscrollable {
	overflow: hidden;
}

.error {
	color: rgb(224, 61, 61);
}

.loading {
	color: var(--primary-text-color2);
}

.game-page {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.check-location-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
