.cart-page {
	padding-top: 100px;
}

.cart-page .cart-item-list {
	display: flex;
	flex-direction: column;
	gap: 25px;
	align-items: center;
	margin-bottom: 100px;
}

.cart-page .item {
	position: relative;
	width: 80%;
	display: flex;
	border-radius: 6px;
	background-color: var(--background-color);
}

.item .left {
	width: 350px;
}

.status {
	position: absolute;
	background-color: rgb(62, 168, 58);
	padding: 5px 9px;
	border-radius: 10px;
	color: white;
	top: 10%;
	transform: translateY(-50%);
	left: -20px;
}

.status.expired {
	background-color: rgb(251, 71, 71);
}

.item .left img {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.item .right {
	flex-grow: 1;
	padding: 30px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 10px;
}

.item .right .header {
	color: var(--primary-text-color);
	font-size: 23px;
	font-weight: bold;
	margin-bottom: 10px;
}

.hotel-item-facility-header {
	color: var(--primary-text-color);
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 20px;
}

.hotel-item-facility-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.hotel-item-facility-list .hotel-item-facility {
	text-align: center;
	padding: 10px;
	border-radius: 20px;
	color: var(--primary-text-color2);
	border: 1px solid;
	border-color: var(--primary-text-color2);
}

.item .date {
	color: var(--primary-text-color);
	display: flex;
	justify-content: space-between;
}

.update-date {
	width: 100%;
	margin-top: 10px;
}

.update-date .input-container {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
}

.update-date .update-date-header {
	color: var(--primary-text-color);
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 10px;
}

.update-date .update-button {
	width: 100%;
	height: 30px;
}

.price-container {
	display: flex;
	justify-content: end;
}

.price-container .price {
	font-size: 20px;
	font-weight: bold;
	color: var(--button-secondary-color);
}

.remove-button {
	position: absolute;
	width: 90px;
	height: 25px;
	right: 20px;
	top: 20px;
}

.cart-page .item-2 {
	box-sizing: border-box;
	padding: 30px;
	padding-top: 40px;
	position: relative;
	width: 80%;
	display: flex;
	border-radius: 6px;
	background-color: var(--background-color);
	flex-direction: column;
}

.item-2 .header {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.item-2 .header .airline {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.item-2 .header .airline .airline-container {
	display: flex;
	align-items: center;
	gap: 10px;
}

.item-2 .header .airline img {
	width: 25px;
	height: auto;
}

.item-2 .header .airline p {
}

.item-2 .header .duration {
	margin-right: 100px;
	font-size: 15px;
	font-weight: 600;
}

.item-2 .body {
	margin-top: 20px;
}

.item-2 .body .destination {
	display: flex;
	flex-direction: column;
	gap: 13px;
}

.item-2 .body .destination .destination-container {
	color: var(--primary-text-color2);
	font-size: 12px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.item-2 .body .destination .destination-container .content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5px;
}

.item-2 .body .destination .destination-container .airplane-code {
	color: var(--primary-text-color);
	font-size: 15px;
	font-weight: bold;
}

.item-2 .body .destination .destination-container .seat-container {
	font-size: 14px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.item-2 .body .destination .destination-container .seat-container .seat {
	background-color: var(--traveloka-background);
	color: white;
	padding: 3px 5px;
	border-radius: 5px;
}

.item-2 .price-container {
	margin-top: 20px;
	width: 100%;
}

.item-2 .price-container .price {
	font-size: 20px;
}

.item-2 .seat-container .seat-inner-container {
	display: flex;
	flex-direction: column;
	grid-area: 8px;
}

.cart-page .bottom-section {
	width: 80%;
	box-sizing: border-box;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.cart-page .bottom-section .price-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 5px;
}

.cart-page .bottom-section .price-container .price-label {
	font-size: 17px;
	font-weight: 600;
}

.cart-page .button {
	width: 200px;
	height: 30px;
}
