.home-page {
	padding-top: 56px;
}

.home-page .hero-section {
	background-image: linear-gradient(
		to bottom,
		var(--primary-background-light),
		var(--primary-background)
	);
	margin-bottom: 35px;
}

.home-page .hero-container {
	padding-top: 30px;
	display: flex;
}

.home-page .hero-container .hero-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	flex: 1;
}

.home-page .hero-container .hero-left .title {
	color: white;
	font-size: 50px;
	font-weight: 600;
}

.home-page .hero-container .hero-left .subtitle {
	color: white;
	font-size: 40px;
}

.home-page .hero-container .hero-right {
}

.home-page .hero-container .hero-right img {
	height: 630px;
	display: block;
}

.home-page .services-section {
	padding-bottom: 35px;
	padding-bottom: 80px;
}

.home-page .services-section .content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-page .services-section .header {
	font-size: 35px;
	color: var(--primary-background);
	margin-bottom: 20px;
}

.home-page .services-section .subtitle {
	font-size: 18px;
	margin-bottom: 50px;
	color: var(--primary-text-color2);
}

.home-page .services-container {
	display: flex;
	width: 100%;
}

.home-page .services-container .service {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-page .services-container .service .image-container {
	height: 300px;
	width: 300px;
	object-fit: cover;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 30px;
}

.home-page .services-container .service img {
	height: 300px;
	width: 300px;
	object-fit: cover;
	border-radius: 50%;
	border: 1px solid var(--primary-background);
	transition: all;
	transition-duration: 0.3s;
}

.home-page .services-container .service img:hover {
	transform: scale(1.05);
}

.home-page .services-container .service .title {
	font-size: 30px;
	color: var(--primary-text-color);
}

.home-page .sub-hero-section {
	position: relative;
	height: 70vh;
}

.home-page .sub-hero-section img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover; /* Ensure the image covers the container without distortion */
	z-index: -1;
}

.home-page .sub-hero-section .content {
	padding: 0px 5vw;
	width: 27%;
	height: 100%;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.home-page .sub-hero-section .content .title {
	font-size: 60px;
	color: white;
	font-weight: 600;
	margin-bottom: 25px;
}

.home-page .sub-hero-section .content .button {
	background-color: var(--button-secondary-color);
	color: white;
	text-decoration: none;
	padding: 12px 0px;
	border-radius: 8px;
	text-align: center;
	font-size: 15px;
}

.home-page .sub-hero-section .content .button:hover {
	background-color: var(--button-secondary-hover-color);
}
