.filter-checkbox {
}

.filter-checkbox .checkbox-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  color: var(--primary-text-color2);
}

.filter-checkbox .checkbox-container label input {
  margin-right: 5px;
}

.filter-checkbox .header {
  color: var(--primary-text-color);
  font-size: 15px;
  margin-bottom: 20px;
}
